@import "tailwindcss";
@plugin '@egoist/tailwindcss-icons';

@theme inline {
  --color-brand-primary: #323232;
  --color-brand-secondary: #202020;
  --color-brand-start: #323232;
  --color-brand-end: #0e0e0e;
  --color-table-border: #6a7282;
}

@layer components {
  .header-double-line {
    position: relative;
    display: inline-block;
    padding: 0 110px;
  }

  .header-double-line:before,
  .header-double-line:after {
    content: "";
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 100px;
    height: 4px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }

  .header-double-line:before {
    left: 0;
  }

  .header-double-line:after {
    right: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sawarabi-mincho), Arial, Helvetica, sans-serif;
}
